* {
  font-family: Arial, Helvetica, sans-serif;
}

.open_popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 100vh;
  right: 0;
  background: white;
  transition: 0.5s;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup_header {
  height: auto;
  width: 100%;
  background: rgba(196, 196, 196, 0.4);
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.popup_header h1 {
  margin: 0;
  margin-left: auto;
}

.close_popup {
  position: relative;
  margin-right: 5px;
  margin-left: -20px;
  background: none;
  border-radius: 100%;
  padding: 15px;
  line-height: 0;
  width: 15px;
  height: 15px;
}

.close_popup > .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 52px);
}

.popup_product_image {
  text-align: center;
}

.popup_product_image figcaption {
  color: rgb(255, 51, 102);
}

.size_selector {
  width: 100%;
  text-align: center;
  margin-bottom: 30%;
}
.size_selector h2 {
  font-weight: 100;
}
.size_selector button {
  height: 60px;
  width: 35%;
  margin: 2%;
  font-weight: 700;
  font-size: 1em;
  background: none;
  border-radius: 4px;
}

.changed_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.changed_image img {
  height: auto;
  width: 20%;
  transition: 0.2s;
}

#size-select {
  width: 50vw;
  font-size: 1em;
  border: 1px #8686868c solid;
  background: white;
  width: 100%;
  height: 40px;
  bottom: 0;
  float: bottom;
  opacity: 0;
}
.select_wrapper {
  opacity: 1;
}

.changed_image .select_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 65%;
  opacity: 0;
}

.changed_image figcaption {
  text-align: left;
  margin-top: 5px;
}

// Animation

@keyframes popup_fade_out {
  to {
    opacity: 0;
  }
}

@keyframes popup_fade_in {
  to {
    opacity: 1;
  }
}

@keyframes fade_fig_caption {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup_fade_out {
  animation: popup_fade_out 0.2s forwards;
}

.popup_fade_in {
  animation: popup_fade_in 0.2s forwards;
  animation-delay: 0.2s;
}

fieldset {
  position: relative;
  border: 0;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  height: 80px;
}

input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

label {
  user-select: none;
  text-align: center;
}

label h4 {
  color: #ff3366;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  font-weight: 100;
}

label h3 {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 1em;
}

label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px #8686863f solid;
  border-radius: 5px;
  transition: 0.5s;
}

input:checked + label:after {
  border-color: #5c1182;
  transition: 0.5s;
}

legend {
  text-align: center;
  top: -10px;
  position: relative;
  background: white;
  z-index: 10;
  font-weight: bold;
}

.magazine_info {
  text-align: center;
  font-size: 0.8em;
  color: #8686868c;
  margin-bottom: 20px;
}

.go_to_basket {
  width: 90%;
  height: 50px;
  background: #5c1182;
  margin: auto;
  position: relative;
  border-radius: 5px;
}

.go_to_basket p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 0;
  margin: 0;
}

.see_offer {
  color: #5c1182;
  text-decoration: underline;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #popup {
    width: 400px;
    right: -400px;
    top: 0;
  }
}

.offer2:not(:checked) {
  color: #5c1182;
}
